<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="description" content="">
    <meta name="author" content="JH">
    <title>Healthy Box</title>

    <!-- BootStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- jQuery -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    <link href="/css/colors.css" rel="stylesheet">
    <link href="/css/compProperties.css" rel="stylesheet">
    <link href="/css/orderDetailCss.css" rel="stylesheet">

</head>
<body>

    <header id="header">
        헤더 삽입부
        <hr>
    </header>

    <main class="container border-top">
        <div class="d-flex flex-wrap">
            <div id="myPageNav">
                마이페이지 메뉴 부분
            </div>
            <div class="col bg-light d-flex align-items-center justify-content-center">
                <div id="myPageDiv" class="container py-3">
                    <div class="defaultFontStyle borderBottom py-2">
                        <span class="fs-5">주문 정보</span>
                    </div>

                    <div class="defaultFontColor pt-4">
                        <span id="orderItemSpan" class="fs-5">주문목록</span>
                        <table id="orderItemList">
                            <thead>
                                <tr id="orderItemListBodyHead">
                                    <th class="orderItemImage">이미지</th>
                                    <th class="orderItemName">품명</th>
                                    <th class="orderItemQty">수량</th>
                                    <th class="orderItemUnitCost">단가</th>
                                    <th class="orderItemDcCost">할인금액</th>
                                    <th class="orderItemAmount">총금액</th>
                                </tr>
                            </thead>
                            <tbody id="orderItemListBody">
                                <tr class="orderItemListBodyContent">
                                    <td class="orderItemImage"><img src="/image/products/00000.jpg" alt="품목이미지"></td>
                                    <td class="orderItemName">테스트 상품</td>
                                    <td class="orderItemQty">2</td>
                                    <td class="orderItemUnitCost">100,000 원</td>
                                    <td class="orderItemDcCost">0 원</td>
                                    <td class="orderItemAmount">100,000 원</td>
                                </tr>
                                <tr class="orderItemListBodyContent">
                                    <td class="orderItemImage"><img src="/image/products/00000.jpg" alt="품목이미지"></td>
                                    <td class="orderItemName">테스트 상품</td>
                                    <td class="orderItemQty">2</td>
                                    <td class="orderItemUnitCost">100,000 원</td>
                                    <td class="orderItemDcCost">0 원</td>
                                    <td class="orderItemAmount">100,000 원</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="deliveryInfo" class="pt-5 pb-2">
                        <span class="titleSect defaultFontStyle fs-5">배송정보</span>
                        <table id="deliveryTableHead" class="dataTableHead borderTop">
                            <tbody>
                                <tr>
                                    <td id="deliveryCompTitle" class="NameSect">택배사</td>
                                    <td id="deliveryCompData" class="DataSect">택배</td>
                                </tr>
                                <tr>
                                    <td id="deliveryCodeTitle" class="NameSect">운송장번호</td>
                                    <td id="deliveryCodeData" class="DataSect">0000000000</td>
                                </tr>
                                <tr class="borderTop borderBottom" style="height: 10px;"></tr>
                                <tr>
                                    <td id="deliveryName" class="NameSect">배송지 이름</td>
                                    <td id="deliveryNameData" class="DataSect">집</td>
                                </tr>
                                <tr>
                                    <td id="zipcodeTitle" class="NameSect">우편주소</td>
                                    <td id="zipcodeData" class="DataSect">00000</td>
                                </tr>
                                <tr>
                                    <td id="address1Title" class="NameSect">주소</td>
                                    <td id="address1Data" class="DataSect">기본 주소</td>
                                </tr>
                                <tr>
                                    <td id="address2Title" class="NameSect">상세주소</td>
                                    <td id="address2Data" class="DataSect">상세 주소</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="payMethodInfo" class="pt-5 pb-2">
                        <span class="titleSect defaultFontStyle fs-5">결제정보</span>
                        <table id="payMethodTable" class="dataTableHead borderTop">
                            <tbody>
                                <tr>
                                    <td id="payMethodTitle" class="NameSect">결제수단</td>
                                    <td id="payMethodData" class="DataSect">카드 / 비씨카드</td>
                                </tr>
                                <tr>
                                    <td id="orderPriceTitle" class="NameSect">주문금액</td>
                                    <td id="orderPriceData" class="DataSect">200,000 원</td>
                                </tr>
                                <tr>
                                    <td id="deliveryPriceTitle" class="NameSect">배송비</td>
                                    <td id="deliveryPriceData" class="DataSect">3,000 원</td>
                                </tr>
                                <tr>
                                    <td id="dcPriceTitle" class="NameSect">할인금액</td>
                                    <td id="dcPriceData" class="DataSect">5,000 원</td>
                                </tr>
                                <tr>
                                    <td id="amountTitle" class="NameSect">총 결제금액</td>
                                    <td id="amountData" class="DataSect">198,000 원</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="buttons" class="pt-5 pb-2">
                        <div class="d-flex flex-warp justify-content-center align-items-center">
                            <button id="toOrderList" class="orderDetailBtn2 mx-2" onclick="location.href='javascript:history.back()'">목록</button>
                            <button id="searchDeliveryInfo" class="orderDetailBtn1 mx-2">배송 조회</button>
                            <button id="changeStatus" class="orderDetailBtn2 mx-2">취소·교환·반품</button>
                            <button id="deleteOrderDetail" class="orderDetailBtn1 mx-2">주문내역 삭제</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer id="footer">
        <hr>
        푸터 삽입부
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <script src="/js/myPage.js"></script>
    <script src="/js/order.js"></script>

    <script>
        $(document).ready(function () {
            let code = $('#deliveryCompData').attr('value');
            let LogisticName = '';
            switch (code) {
                case '01':
                    LogisticName = '우체국택배';
                    break;
                case '04':
                    LogisticName = 'CJ대한통운';
                    break;
                case '05':
                    LogisticName = '한진택배';
                    break;
                case '06':
                    LogisticName = '로젠택배';
                    break;
                case '08':
                    LogisticName = '롯데택배';
                    break;
            }
            $('#deliveryCompData').text(LogisticName);
        });
    </script>
</body>
</html>
