<div id="myPageNavigation">
    <div id="myPageSidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-light border-end" style="width: 280px;">
        <div class="text-center pb-3">
            <a id="myPageTitle" class="myPageTitle" href="#">마이페이지</a>
            <label id="myPageId" hidden>blank</label>
        </div>
        <div class="py-4 border-top border-bottom">
            <ul id="main-menu" class="nav nav-pills flex-column mb-auto">
                <li class="nav-item parent-nav">
                    <button id="ordered" class="nav-menu nav-link link-dark" aria-current="page">
                        주문내역
                    </button>
                    <ul id="ordered-sub-menu" class="child-nav" hidden>
                        <li class="single">
                            <a id="ordered-sub-single" href="#" class="">일반 주문</a>
                        </li>
                        <li class="subscribe last-child">
                            <a id="ordered-sub-subscribe" href="#" class="">정기배송 주문</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item parent-nav">
                    <button id="basket" class="nav-menu nav-link link-dark">
                        장바구니
                    </button>
                    <ul id="basket-sub-menu" class="child-nav" hidden>
                        <li class="single">
                            <a id="basket-sub-single" href="#" class="">일반상품 장바구니</a>
                        </li>
                        <li class="subscribe last-child">
                            <a id="basket-sub-subscribe" href="#" class="">정기배송 장바구니</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a id="delivery" href="#" class="nav-menu nav-link link-dark">
                        배송정보관리
                    </a>
                </li>
                <li>
                    <a id="user-info" href="#" class="nav-menu nav-link link-dark">
                        회원정보 수정
                    </a>
                </li>
                <li>
                    <a id="point" href="#" class="nav-menu nav-link link-dark">
                        포인트 관리
                    </a>
                </li>
                <li>
                    <a id="unregister" href="#" class="nav-menu nav-link link-dark">
                        회원 탈퇴
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
