/* /user/signUp 페이지 */
.joinBtn {
    color: white;
    background-color: rgba(83, 146, 91, 0.8);
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 38px;
}

.joinATag{
    color: rgba(83, 146, 91, 0.8);
    background-color: white;
    border: 1px solid rgba(83, 146, 91, 0.8);
    border-radius: 10px;
    width: 120px;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 38px;

}

.joinATag:hover {
    color: white;
}

.requiredData {
    color: rgba(255,0,0,0.8);
    font-size: small;
}
