/* /user/signUp 페이지 */
.joinBtn {
    color: white;
    background-color: rgba(83, 146, 91, 0.8);
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 38px;
}

.joinATag{
    color: rgba(83, 146, 91, 0.8);
    background-color: white;
    border: 1px solid rgba(83, 146, 91, 0.8);
    border-radius: 10px;
    width: 120px;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 38px;

}

.joinATag:hover {
    color: rgba(83, 146, 91, 0.8);
}

.requiredData {
    color: rgba(255,0,0,0.8);
    font-size: small;
}

/* user/login 페이지 */
.loginATag {
    color: rgba(83,146,91,0.8);
    width: 120px;
    background-color: #F8F9FA;
    border: 1px solid #F8F9FA;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 38px;
}

.loginATag.hover {
    color: rgba(83,146,91,0.8);
}

.inputType {
    height: 38px;
    background-color: rgba(83,146,91,0.2);
    border-color: rgba(83,146,91,0.1);
    border-radius: 10px;
}

.inputType:focus {
    outline: 1px solid rgba(83,146,91,0.2);
}

.selected-side-bar {
    background-color: rgba(83, 146, 91, 0.8);
    color: white;
}

.defaultFontStyle {
    color: rgba(83,146,91,0.8);
    font-weight: bold;
}

.myPageTitle {
    color: rgba(83,146,91,0.8);
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

.myPageTitle:hover{
    color: rgba(83,146,91,0.8);
}

.deliveryBtn {
    color: rgba(83, 146, 91, 0.8);
    background-color: white;
    border: 1px solid rgba(83, 146, 91, 0.8);
    border-radius: 10px;
    padding: 5px 10px;
}

.deliveryBtnInvert {
    color: white;
    background-color: rgba(83, 146, 91, 0.8);
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}

/* 마이페이지 메뉴 서브타이틀 설정 */
#sub-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(83,146,91,0.8);
    opacity: 0;
    visibility: hidden;
}

#sub-menu>li {
    padding: 5px 10px;
}

#sub-menu>li>a {
    text-decoration: none;
    color: rgba(84,146,91,0.8);
}

#main-menu>li:hover #sub-menu {
    opacity: 1;
    visibility: visible;
}

.tableDivide { /* hr태그 */
    color: rgba(84,146,91,0.8);
    margin: 0;
}
