#productTable {
    width: 100%;
    border: 1px solid rgba(83,146,91,0.8);
    border-collapse: collapse;
}

#productTableHead th {
    background-color: rgba(83,146,91,0.8);
    color: white;
    padding: 7px 10px;
    text-align: center;
}

#productNameSectImg {
    width: 15%;
}

#productNameSectName {
    width: auto;
}

#productNameSectQty {
    width: 10%;
}

#productNameSectUnitCost, #productNameSectDcCost, #productNameSectAmount {
    width: 12%;
}

#productTableBody td {
    border-top: 1px solid rgba(83,146,91,0.2);
    padding: 7px 5px;
    color: rgba(83,146,91,0.8);
}

.productDataSectImg, .productDataSectQty, .productDataSectUnitCost, .productDataSectDcCost, .productDataSectAmount {
    text-align: center;
    font-size: 18px;
}

.productDataSectImg img {
    width: 180px;
    height: 120px;
}

.productDataSectName {
    text-align: left;
    font-size: 18px;
}

.qtyInputBox {
    width: 35px;
    height: 30px;
    text-align: center;
}

.changeQtyBtn {
    border: none;
    background-color: rgb(248, 249, 250);
    color: rgba(84, 146, 91, 1);
}

.title {
    font-size: 20px;
}

#deliveryTableBody td {
    padding: 2px 10px 2px 0px;
}

#deliveryChangeBtn {
    border: 1px solid rgba(84,146,91,1);
    border-radius: 10px;
    color: rgba(84,146,91,1);
    background-color: white;
    padding: 5px;
}

#deliveryChangeBtn:hover {
    border: 1px solid rgba(84,146,91,1);
    border-radius: 10px;
    color: white;
    background-color: rgba(84,146,91, 0.8);
    padding: 5px;
}

#paymentTableBody td {
    padding: 2px 10px 2px 0px;
}

#paymentDataSectMethod input[type=radio]:checked {
    accent-color: rgba(84,146,91,0.2);
}

#doOrder {
    border: 1px solid rgba(84,146,91,0.8);
    background-color: rgba(84,146,91,0.8);
    color: white;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    font-size: 18px;
}

#cancelOrder {
    border: 1px solid rgba(84,146,91,0.8);
    background-color: white;
    color: rgba(84,146,91,0.8);
    border-radius: 10px;
    width: 120px;
    height: 40px;
    font-size: 18px;
}

#payersTableBody td {
    padding: 2px 10px 2px 0px;
}

/** 정기배송 스타일 */
#orderSubscribeItemListTable {
    width: 100%;
    border: 1px solid rgba(84,146,91,0.8);
}

#orderSubscribeItemListTableHead th {
    background-color: rgba(84,146,91,0.8);
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
}

#orderSubscribeItemTableBody td {
    border-top: 1px solid rgba(84,146,91,0.8);
    color: rgba(84,146,91,0.8);
    padding: 5px 10px;
}

#nameSectSubscribeItemListImg {
    width: 12%
}

#nameSectSubscribeItemListName {
    width: auto;
}

#nameSectSubscribeItemListDeliveryDate, #nameSectSubscribeItemListQty, #nameSectSubscribeItemListUnitCost, #nameSectSubscribeItemListDcCost, #nameSectSubscribeItemListAmount {
    width: 10%;
}

.dataSectSubscribeItemListImg img {
    width: 180px;
    height: 120px;
}

.dataSectSubscribeItemListName {
    text-align: left;
}

.dataSectSubscribeItemListDeliveryDateDetail {
    border: 1px solid rgba(84,146,91,0.8);
    border-radius: 5px;
    font-size: 14px;
    color: rgba(84,146,91,0.8);
    background-color: rgb(248,249,250); /* bg-light */
    width: 95px;
}

.dataSectChangeQty {
    border:none;
    background-color: rgb(248,249,250);
    color: rgba(84,146,91,1);
}

.dataSectSubscribeQtyBox {
    width: 35px;
    height: 30px;
    text-align: center;
}

.dataSectSubscribeItemListDeliveryDate, .dataSectSubscribeItemListQty, .dataSectSubscribeItemListUnitCost, .dataSectSubscribeItemListDcCost, .dataSectSubscribeItemListAmount {
    text-align: center;
}

#orderSubscribeDeliveryChange {
    border: 1px solid rgba(84,146,91,0.5);
    border-radius: 10px;
    background-color: rgb(248,249,250);
    font-weight: bold;
    color: rgba(84,146,91,0.8);
    padding: 5px;
}

#orderSubscribeDeliveryChange:hover {
    border: 1px solid rgba(84,146,91,0.5);
    border-radius: 10px;
    background-color: rgba(84,146,91,0.2);
    font-weight: bold;
    color: white;
    padding: 5px;
}

#orderSubscribeDeliveryTable td, #orderSubscribePayerTable td, #orderSubscribePaymentTable td {
    padding: 2px 8px;
}

.tableSubTitle {
    font-size: 17px;
    font-weight: bold;
    color: rgba(84,146,91,0.8);
    padding: 5px;
}

#doSubscribeOrder {
    border: 1px solid rgba(84,146,91,0.5);
    border-radius: 10px;
    background-color: rgb(248,249,250);
    font-weight: bold;
    color: rgba(84,146,91,0.8);
    font-size: 18px;
    width: 100px;
    height: 40px;
    padding: 5px;
}

#doSubscribeOrder:hover {
    border: 1px solid rgba(84,146,91,0.5);
    border-radius: 10px;
    background-color: rgba(84,146,91,0.5);
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: 100px;
    height: 40px;
    padding: 5px;
}

#cancelSubscribeOrder {
    border: 1px solid rgba(84,146,91,0.5);
    border-radius: 10px;
    background-color: rgba(84,146,91,0.5);
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: 100px;
    height: 40px;
    padding: 5px;
}

#cancelSubscribeOrder:hover {
    border: 1px solid rgba(84,146,91,0.5);
    border-radius: 10px;
    background-color: rgb(248,249,250);
    color: rgba(84,146,91,0.8);
    font-weight: bold;
    font-size: 18px;
    width: 100px;
    height: 40px;
    padding: 5px;
}

.dataSectSubscribeItemListNameSelect {
    border: 1px solid rgba(84,146,91,0.8);
    border-radius: 2px;
    width: 100%;
    color: rgba(84,146,91,0.8);
}
