<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="author" content="JH">

    <title>Footer</title>

</head>
<body>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
        <div class="container border-top">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
                <div>
                    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                        <img src="/image/logo.jpg" alt="로고 이미지">
                    </a>
                    <span class="mb-3 mb-md-0 text-muted defaultFontColor">&copy; 2022 Healthy Box [ Portfolio ]</span>
                </div>
                <a class="link-success text-decoration-none defaultFontColor" href="#">Top ▲</a>
            </div>
        </div>
    </footer>
</body>
</html>