<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="description" content="">
    <meta name="author" content="JH">
    <title>Healthy Box</title>

    <!-- BootStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <link href="/css/colors.css" rel="stylesheet">
    <link href="/css/compProperties.css" rel="stylesheet">

</head>
<body>

    <header id="header">
        헤더 삽입부
        <hr>
    </header>

    <main class="container d-flex flex-wrap align-items-center justify-content-center py-4 bg-light">
        <div class="col-3 align-items-center justify-content-center text-center" >
            <h4 class="mb-6">Login</h4>

            <div class="borderTop my-2"></div>

            <div id="idSection" class="form-floating my-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="ID">
                <label for="floatingInput">ID</label>
            </div>

            <div class="form-floating my-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="checkbox my-3">
                <label id="rememberIdLabel">
                    <input id="rememberId" type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <div id="warningAccount" class="text-center" hidden>
                <p class="text-danger font-weight-bold" >ID 또는 비밀번호가 틀렸습니다.</p>
            </div>
            <div class="d-flex flex-wrap align-items-center justify-content-center">
                <button id="loginBtn" class="joinBtn" type="button">Log in</button>
                <div class="mx-2"></div>
                <a href="/user/signUp" class="joinATag">Sign-Up</a>
            </div>
            <div class="d-flex flex-wrap align-times-center justify-content-center">
                <a href="#" class="loginATag">아이디 찾기</a>
                <div class="mx-2"></div>
                <a href="#" class="loginATag">비밀번호 찾기</a>
            </div>
        </div>
    </main>

    <footer id="footer">
        <hr>
        푸터 삽입부
    </footer>

    <script src="/js/login.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>