<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="author" content="JH">
    <title>Healthy Box</title>

    <!-- BootStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- jQuery -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    <link href="/css/colors.css" rel="stylesheet">
    <link href="/css/compProperties.css" rel="stylesheet">

</head>
<body>

    <header id="header">
        헤더 삽입부
        <hr>
    </header>

    <main class="container border-top">
        <div class="d-flex flex-wrap">
            <div id="myPageSidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-light border-end" style="width: 280px;">
                <div class="text-center">
                    <span class="fs-4">마이페이지</span>
                    <label id="myPageId" hidden>ordered</label>
                </div>
                <div>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a id="ordered" href="#" class="nav-menu nav-link" aria-current="page"  style="background-color: rgba(83,146,91,0.8); color: white;">
                                주문내역
                            </a>
                        </li>
                        <li>
                            <a id="basket" href="#" class="nav-menu nav-link link-dark">
                                장바구니
                            </a>
                        </li>
                        <li>
                            <a id="delivery" href="#" class="nav-menu nav-link link-dark">
                                배송정보관리
                            </a>
                        </li>
                        <li>
                            <a id="user-info" href="/mypage/check-pw" class="nav-menu nav-link link-dark">
                                회원정보 수정
                            </a>
                        </li>
                        <li>
                            <a id="point" href="#" class="nav-menu nav-link link-dark">
                                포인트 관리
                            </a>
                        </li>
                        <li>
                            <a id="unregister" href="#" class="nav-menu nav-link link-dark">
                                회원 탈퇴
                            </a>
                        </li>
                    </ul>
                    <hr>
                </div>
            </div>
            <div class="col bg-light d-flex align-items-center justify-content-center">
                <div id="myPageDiv" class="container">
                    마이페이지 각 메뉴 변환부분
                </div>
            </div>
        </div>
    </main>

    <footer id="footer">
        <hr>
        푸터 삽입부
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>
