<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="author" content="JH">
    <title>Healthy Box</title>

    <!-- BootStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- jQuery -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    <!-- iamport.payment.js -->
<!--    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.7.js"></script>-->

    <!-- static -->
    <link href="/css/colors.css" rel="stylesheet">
    <link href="/css/compProperties.css" rel="stylesheet">
</head>
<body>
    <header id="header">
        헤더 삽입부
        <hr>
    </header>

    <div class="container bg-light border-top" style="width:1296px">
        <div class="py-5 text-center ">
            <h2>회원가입</h2>
            <p class="lead">일반회원(사업자 회원)으로 회원가입을 위해 아래 정보를 입력해주세요.</p>
        </div>
        <div class="row g-5 align-items-center justify-content-center">

            <div class="col-md-7 col-lg-7">
                <div class="needs-validation">
                    <div class="row g-3">
                        <div class="row g-3">
                            <h5 class="mb-4 borderBottom">필수 입력 정보</h5>
                            <div>
                                <label for="userId" class="form-label">ID<span class="requiredData align-top">*</span></label>
                                <div class="d-flex flex-wrap">
                                    <div class="col-7">
                                        <input type="text" class="form-control" id="userId" name="userId" placeholder="ID" required
                                               oninvalid="this.setCustomValidity('아이디를 입력해주세요.')"
                                               oninput="this.setCustomValidity('')">
                                    </div>
                                    <label id="checkIdLabel" for="checkId" hidden>N</label>
                                    <button type="button" id="checkId" class="joinBtn mx-4">ID 중복확인</button>
                                </div>
                            </div>

                            <div class="col-7">
                                <label for="userPassword" class="form-label">비밀번호<span class="requiredData align-top">*</span></label>
                                <input type="password" class="form-control" id="userPassword" name="userPassword" placeholder="password" required
                                       oninvalid="this.setCustomValidity('비밀번호를 입력해주세요.')"
                                       oninput="this.setCustomValidity('')">
                            </div>

                            <div class="col-7">
                                <label for="passwordConfirm" class="form-label">비밀번호 확인<span class="requiredData align-top">*</span></label>
                                <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="password" required
                                       oninvalid="this.setCustomValidity('비밀번호를 입력해주세요.')"
                                       oninput="this.setCustomValidity('')">
                            </div>

                            <div>
                                <label for="phoneNumber" class="form-label">휴대폰 번호<span class="requiredData align-top">*</span></label>
                                <div class="d-flex flex-wrap">
                                    <div class="col-7">
                                        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="휴대폰 번호 입력(-제외)" required maxlength="11"
                                               oninvalid="this.setCustomValidity('휴대폰 번호를 입력해주세요.')"
                                               oninput="this.setCustomValidity('')">
                                    </div>
                                    <label for="checkPhone" hidden>N</label>
                                    <button type="button" id="checkPhone" class="joinBtn mx-4">인증요청</button>
                                </div>
                            </div>

                        <div hidden>
                            <label for="phoneNumber" class="form-label">인증 번호<span class="requiredData align-top">*</span></label>
                            <div class="d-flex flex-wrap">
                                <div class="col-7">
                                    <input type="text" class="form-control" id="confirmNumber" name="confirmNumber" placeholder="인증번호 입력" required maxlength="11"
                                           oninvalid="this.setCustomValidity('인증 번호를 입력해주세요.')"
                                           oninput="this.setCustomValidity('')">
                                </div>
                                <label for="checkConfirm" hidden>N</label>
                                <button type="button" id="checkConfirm" class="joinBtn mx-4">인증번호 확인</button>
                            </div>
                        </div>

                            <div class="col-7">
                                <label for="userName" class="form-label">이름<span class="requiredData align-top">*</span></label>
                                <input type="text" class="form-control" id="userName" name="userName" placeholder="홍길동" required
                                       oninvalid="this.setCustomValidity('이름을 입력해주세요.')"
                                       oninput="this.setCustomValidity('')">
                            </div>

                            <div class="col-7">
                                <label class="form-label">주민등록번호<span class="requiredData align-top">*</span></label>
                                <div class="d-flex">
                                    <div class="col-3">
                                        <label for="serialCodeFirst" hidden>주민번호 앞자리</label>
                                        <input type="text" class="form-control" id="serialCodeFirst" name="serialCodeFirst" placeholder="901010" required maxlength="6"
                                               oninvalid="this.setCustomValidity('주민등록번호 앞자리를 입력해주세요.')"
                                               oninput="this.setCustomValidity('')">
                                    </div>
                                    <div class="mx-1">
                                        <span class="align-middle">-</span>
                                    </div>
                                    <div class="col-3">
                                        <label for="serialCodeSecond" hidden>주민번호 뒷자리</label>
                                        <input type="password" class="form-control" id="serialCodeSecond" name="serialCodeSecond" placeholder="1111111" required maxlength="7"
                                               oninvalid="this.setCustomValidity('주민등록번호 뒷자리를 입력해주세요.')"
                                               oninput="this.setCustomValidity('')">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-3">
                            <h5 class="mb-4 borderBottom">선택 입력 정보</h5>

                            <div class="col-7">
                                <label for="nickname" class="form-label">닉네임</label>
                                <input type="text" class="form-control" id="nickname" placeholder="닉네임">
                            </div>

                            <div class="col-7">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="you@example.com">
                            </div>

                            <div>
                                <label for="zipcode" class="form-label">우편번호</label>
                                <div class="d-flex flex-wrap col-7">
                                    <div>
                                        <input type="text" class="form-control" id="zipcode" placeholder="00000" readonly>
                                    </div>
                                    <button type="button" id="btnZipcode" class="joinBtn mx-4">주소검색</button>
                                </div>
                            </div>

                            <div class="col-10">
                                <label for="address1" class="form-label">주소</label>
                                <input type="text" class="form-control" id="address1" placeholder="">
                            </div>

                            <div class="col-10">
                                <label for="address2" class="form-label">상세 주소</label>
                                <input type="text" class="form-control" id="address2" placeholder="">
                            </div>

                        </div>
                        <h5 class="borderBottom"></h5>
                        <div class="row g-3">
                            <div class="d-flex flex-wrap justify-content-end">
                                <button id="signUpBtn" class="joinBtn" type="button">회원가입</button>
                                <div class="mx-3"></div>
                                <a href="/" class="joinATag ">취소</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer">
        <hr>
        푸터 삽입부
    </footer>

    <script src="/js/signUp.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <!-- 우편번호 검색 OpenAPI -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        $(document).on("click", "#btnZipcode", function () {
            new daum.Postcode({
                oncomplete: function (data) {
                    document.getElementById('zipcode').value = data.zonecode;
                    // document.getElementById("address1").value = data.roadAddress;
                    // document.getElementById("sample4_jibunAddress").value = data.jibunAddress;
                    let extraAddr = '';
                    if(data.userSelectedType === 'R'){
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if(extraAddr !== ''){
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        document.getElementById("address1").value = data.roadAddress + ' ' + extraAddr;
                    } else {
                        document.getElementById("address1").value = data.roadAddress;
                    }
                }
            }).open();
            $('#address2').focus();
        });
    </script>

    <!-- 아임포트를 활용한 휴대전화 본인인증 기능 추가 // 다날 결제정보가 필요하여 우선 보류하기로 함 -->
<!--    <script>-->
<!--        $(document).on("click", "#checkConfirm", function () {-->
<!--            let IMP = window.IMP;-->
<!--            IMP.init('imp24005612');-->

<!--            IMP.certification({-->
<!--                merchant_uid: 'merchant_' + new Date().getDate()-->
<!--            }, function (rsp) {-->
<!--                if (rsp.success) {-->
<!--                    jQuery.ajax({-->
<!--                        url: "/user/signUp",-->
<!--                        method: "POST",-->
<!--                        headers: {"Content-Type": "application/json"},-->
<!--                        data: {imp_uid: rsp.imp_uid}-->
<!--                    });-->
<!--                } else {-->
<!--                    alert("인증에 실패하였습니다. 에러내용: " + rsp.error_msg);-->
<!--                }-->
<!--            });-->
<!--        });-->
<!--    </script>-->



</body>
</html>